html, body {
  width: 100%;
  height: 100%;
  background: #A1B6D5;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A1B6D5), color-stop(100%, #82A3D5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #A1B6D5 0%, #82A3D5 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #A1B6D5 0%, #82A3D5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  font-weight: 300;
  color: white;
  margin: 0;
  padding: 0; }

table {
  border-spacing: 0; }

.wrapper {
  box-sizing: border-box;
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }
  .wrapper .headerText {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #A1B6D5;
    width: 100%;
    font-size: 2px; }
  .wrapper .header {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 10px 0;
    position: relative; }
    .wrapper .header img.logo {
      display: block;
      float: left;
      display: block;
      width: 50%;
      min-width: 100px; }
    .wrapper .header .headertext {
      position: absolute;
      right: 10px;
      bottom: -20px;
      font-weight: 100; }
  .wrapper .textbody {
    box-sizing: border-box;
    display: block;
    width: 100%;
    line-height: 1.4em;
    background: white;
    padding: 10px 10%;
    box-shadow: 0px 7px 7px rgba(51, 51, 51, 0.2);
    color: #333333; }
    .wrapper .textbody a {
      color: #A1B6D5;
      text-decoration: none; }
      .wrapper .textbody a:hover {
        text-decoration: underline; }
    .wrapper .textbody .big {
      font-size: 1.3em; }
    .wrapper .textbody a.button {
      box-shadow: none;
      margin: auto;
      width: 80%;
      max-width: 300px;
      box-shadow: 0;
      text-decoration: none;
      display: block;
      height: 50px;
      line-height: 50px;
      text-align: center;
      overflow: hidden;
      background: #A1B6D5;
      border-radius: 5px;
      font-size: 20px;
      cursor: pointer;
      position: relative;
      color: white;
      margin: auto;
      -webkit-transition: background 0.4s;
              transition: background 0.4s; }
      .wrapper .textbody a.button.half {
        display: inline-block;
        width: 48%; }
        .wrapper .textbody a.button.half.right {
          float: right; }
        .wrapper .textbody a.button.half.left {
          float: left; }
      .wrapper .textbody a.button.outline {
        background: none !important;
        color: #A1B6D5;
        border: 1px solid #A1B6D5; }
        .wrapper .textbody a.button.outline.red {
          color: #EA5C5C;
          border-color: #EA5C5C; }
          .wrapper .textbody a.button.outline.red:hover {
            background: #EA5C5C; }
        .wrapper .textbody a.button.outline.green {
          color: #68bb68;
          border-color: #68bb68; }
          .wrapper .textbody a.button.outline.green:hover {
            background: #68bb68; }
        .wrapper .textbody a.button.outline:hover {
          background: #A1B6D5; }
      .wrapper .textbody a.button.red {
        background: #EA5C5C; }
      .wrapper .textbody a.button.green {
        background: #68bb68; }
  .wrapper .footer {
    box-sizing: border-box;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 0.7em;
    color: white; }
